<div class="mdl-grid center-grid">

	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">Academics</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I am a senior at California State University, Los Angeles (CSULA). I am enrolled through the <a class="blue-link" href="http://www.calstatela.edu/academic/eep" target="_blank" rel="rel=noopener noreferrer">Early Entrance Program</a>. My major is computer science (CS), and I have a variety of coursework including:
		    <br />
		    <span class="mdl-chip">
    			<span class="mdl-chip__text">Java programming</span>
				</span>
				<span class="mdl-chip">
    			<span class="mdl-chip__text">Full-stack web development</span>
				</span>
				<span class="mdl-chip">
    			<span class="mdl-chip__text">SQL-based database usage</span>
				</span>
				<span class="mdl-chip">
    			<span class="mdl-chip__text">Git and GitHub usage</span>
				</span>
				<span class="mdl-chip">
    			<span class="mdl-chip__text">Algorithm Design</span>
				</span>
				<span class="mdl-chip">
    			<span class="mdl-chip__text">CS-based Math</span>
				</span>
				<br />
				During Spring Semester 2017, I took coursework in computer security, functional programming, and Node.js. This summer, I am available full-time starting May 22, 2017 until August 18, 2017 in accordance with the <a class="blue-link" href="http://www.calstatela.edu/univ/ppa/acadcal.htm" target="_blank" rel="rel=noopener noreferrer">CSULA Academic Calendar</a>.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://www.calstatela.edu" target="_blank" rel="rel=noopener noreferrer">View CSULA homepage</a>
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://www.calstatela.edu/ecst/cs" target="_blank" rel="rel=noopener noreferrer">View CS Department Page</a>
		  </div>
		</div>
  </div>

	<div class="mdl-cell mdl-cell--8-col csula-header">
  </div>

</div>

<div class="page-break">
		 <h3>Programming &amp; Technical Skills</h3>
</div>

<div class="mdl-grid center-grid skills-grid">
	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">Java</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    Of all the programming languages I know, I am most experienced in Java. I have taken classes in standard and web Java programming and done a variety of <a class="blue-link" href="#/projects" ng-href="#/projects">projects</a> in Java. I am proficient in Java servlets, JSTL, and most of the standard Java packages.
		  </div>
		</div>
  </div>

	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">Ruby</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    Though I only recently learned Ruby, it has quickly become my favorite language due to its clear syntax, robust data structures, and high performance.
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">C/C++/C#</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I have worked with the <a class="blue-link" href="https://unity3d.com" target="_blank" rel="rel=noopener noreferrer">Unity game engine</a>, which required knowledge of C#. C# is similar enough to Java syntax that I am very comfortable with it. I know the C/C++ syntax and will be taking coursework involving C++ during Spring Semester 2017.
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">HTML/CSS</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I am fluent in HTML and CSS. This entire site was written using HTML, CSS, <a class="blue-link" href="https://getmdl.io" target="_blank" rel="rel=noopener noreferrer">Material Design Light</a>, JavaScript, and Angular v1.
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">JavaScript</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I understand JavaScript to the extend necessary to write simply Angular applications and utility scripts. I do not have experience with Node.js, but will be taking a course involving it during Spring Semester 2017.
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">Python</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I understand Python enough to write simple scripts. I have also have used Python 2.7 to create a simple website using Google App Engine.
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">SQL</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I am fluent in MySQL, and have used it in full-stack web development and taken a full class on it.
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">Angular</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I have used Angular v1 to create this site, and I have studied <a class="blue-link" href="https://angular.io" target="_blank" rel="rel=noopener noreferrer">Angular v2</a> with TypeScript. I will be taking coursework involving Angular v1 during Spring semester 2017.
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">Algorithm Design</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    I have completed coursework in algorithm design and implemented a variety of algorithms for used in my applications.
		  </div>
		</div>
  </div>

</div>
