<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--4-col project-header"><h2>Contact Me</h2></div>
	<div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--4-col">
		<div class="contact-cell">
	  	<i class="material-icons contact-icon">email</i>
	  	<h4><strong>{{ email }}</strong></h4>
  	</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="contact-cell">
	  	<div class="github-icon"></div>
	  	<h4><a class="blue-link" href="http://www.github.com/amclees" target="_blank" rel="rel=noopener noreferrer">amclees</a></h4>
  	</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="contact-cell">
	  	<i class="material-icons contact-icon">phone</i>
	  	<h4><strong>{{ phone }}</strong></h4>
  	</div>
  </div>

</div>