<div class="mdl-grid center-grid home-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--5-col">
    <h2 class="home-header"><strong>Welcome</strong></h2>
    <hr />
    <p class="welcome-text">Hello! My name is Andrew McLees, I am a Computer Science student at California State University, Los Angeles. I am interested in various types of software development. This site serves as a portofolio of my previous projects and technical experience.</p>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>

<div class="page-break">
		 <h3>Interests</h3>
</div>

<div class="mdl-grid center-grid home-grid">
	<div class="mdl-cell mdl-cell--3-col center-cell">
    <h2 class="home-interest">Full-Stack Web Development</h2>
  </div>
  <div class="mdl-cell mdl-cell--3-col center-cell">
  	<h2 class="home-interest">Game Development</h2>
  </div>
  <div class="mdl-cell mdl-cell--3-col center-cell">
		<h2 class="home-interest">Java</h2>
  </div>
  <div class="mdl-cell mdl-cell--3-col center-cell">
		<h2 class="home-interest">Computer Security</h2>
  </div>
</div>

<div class="page-break">
		 <h3>Learn More</h3>
</div>

<div class="mdl-grid center-grid home-grid overflow-grid">
  <div class="mdl-cell mdl-cell--4-col center-cell">
  	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored home-link" href="#/aboutme" ng-href="#/about">
		  Learn about me
		</a>
  </div>
  <div class="mdl-cell mdl-cell--4-col center-cell">
  	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored home-link" href="#/projects" ng-href="#/projects">
		  View my Projects
		</a>
  </div>
  <div class="mdl-cell mdl-cell--4-col center-cell pad-cell">
		<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored home-link" href="#/contactme" ng-href="#/contact">
		  Contact Me
		</a>
  </div>
</div>