<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--4-col project-header"><h3>My Projects</h3></div>
	<div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">PERSYST</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    PERSYST is a peer-to-peer file syncing system built using <a href="https://github.com/Hive2Hive/Hive2Hive" target="_blank" rel="rel=noopener noreferrer">Hive2Hive</a>. It is written in Java and syncs files in a user designated folder with all other computers on a network.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View on Github</a>
		  </div>
		</div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">JavaMSG</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    JavaMSG is a simple chat program written using JavaFX and Java's built-in networking libraries.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View on Github</a>
		  </div>
		</div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">SimpleStorefront</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    SimpleStorefront is a storefront written using Apache Tomcat. It allows users to purchase items and modify the inventory available to buy. It uses a MySQL database to store all persistent data.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View on Github</a>
		  </div>
		</div>
  </div>
</div>