<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--4-col project-header"><h3><strong>My Projects</strong></h3></div>
	<div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid center-grid">

	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		    <h2 class="mdl-card__title-text">Hyena</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    Hyena is a Discord bot written in Ruby that provides many services useful for running tabletop RPGs including dice rolling, combat management, and game session notifications.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/amclees/hyena" target="_blank" rel="rel=noopener noreferrer">View on Github</a>
		  </div>
		</div>
  </div>

	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header persyst-title">
		    <h2 class="mdl-card__title-text persyst-title-text">PERSYST</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    PERSYST is a peer-to-peer file syncing system built using <a class="blue-link" href="https://github.com/Hive2Hive/Hive2Hive" target="_blank" rel="rel=noopener noreferrer">Hive2Hive</a>. It is written in Java and syncs files in a user designated folder with all other computers on a network. It uses AES to encrypt files and configurations before sending them across the network.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/amclees/PERSYST" target="_blank" rel="rel=noopener noreferrer">View on Github</a>
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/files/PERSYST.pptx" target="_blank" rel="rel=noopener noreferrer">Download PowerPoint</a>
		  </div>
		</div>
  </div>

	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header">
		  	<h2 class="mdl-card__title-text">This Website</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    This website is written using AngularJS with <a class="blue-link" href="https://getmdl.io/" target="_blank" rel="rel=noopener noreferrer">Material Design Lite (MDL)</a> for styling. It is hosted on Firebase, but has no features that require use of the Firebase API.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/amclees/amclees.com" target="_blank" rel="rel=noopener noreferrer">View on Github</a>
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header rpgmodel-title">
		    <h2 class="mdl-card__title-text rpgmodel-title-text">RPGModel</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    RPGModel is a Java-based handler for systems present in many role-playing games. These systems include pathing, grid-based combat, character and inventory data storage, terrain handling, and resource loading. It is still in development and contains a simple JavaFX GUI to simplify testing.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/amclees/RPGModel" target="_blank" rel="rel=noopener noreferrer">View on Github</a>
		  </div>
		</div>
  </div>

	<div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header simplestorefront-title">
		    <h2 class="mdl-card__title-text simplestorefront-title-text">SimpleStorefront</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    SimpleStorefront is a storefront written using Apache Tomcat. It allows users to purchase items and modify the inventory available to buy. It uses a MySQL database to store all persistent data and uses Bootstrap for styling.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/amclees/SimpleStorefront" target="_blank" rel="rel=noopener noreferrer">View on Github</a>
		  </div>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
  	<div class="mdl-card mdl-shadow--2dp page-card">
		  <div class="mdl-card__title card-header javamsg-title">
		  </div>
		  <div class="mdl-card__supporting-text">
		    JavaMSG is a simple chat program written using JavaFX and Java's built-in networking libraries. It uses multithreading to handle client input and supports a simple password system.
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/amclees/JavaMSG" target="_blank" rel="rel=noopener noreferrer">View on Github</a>
		  </div>
		</div>
  </div>

</div>
