.page-card {
	width: 75%;
}
.loading-grid {
	max-width: 75%;
	height: 100px;
}
.ang-view {
	
}
.project-header {
	text-align: center;
}
.card-header {
	background-color: #2196F3;
	color: #FFF;
}
a {
	text-decoration: none;
}