.page-card {
	width: 75%;
}
.loading-grid {
	max-width: 75%;
	height: 100px;
}
.ang-view {
	
}
.project-header {
	text-align: center;
}
.card-header {
	background-color: #2196F3;
	color: #FFF;
}
.persyst-title {
	color: #FFF;
	background-image: url('/images/persyst-login-snip.png');
	height: 128px;
}
.persyst-title-text {
	background-color: #292929;
	border-radius: 5px;
}
.simplestorefront-title {
	color: #FFF;
	background-image: url('/images/simplestorefront-snip.png');
	height: 128px;
}
.simplestorefront-title-text {
	background-color: #292929;
	border-radius: 5px;
}
.javamsg-title {
	background-image: url('/images/javamsg-login.png');
	height: 128px;
}
.rpgmodel-title {
	color: #FFF;
	background-image: url('/images/rpgmodel-snip.png');
	height: 128px;
}
.rpgmodel-title-text {
	background-color: #292929;
	border-radius: 5px;
}
.contact-icon {
	font-size: 120px;
}
.contact-cell {
	text-align: center;
}
.github-icon {
	background-image: url('/images/github-icon.png');
	width: 120px;
	height: 120px;
	background-size: cover;
	margin: 0 auto;
}
.blue-link {
	color: #2196F3;
}
a {
	text-decoration: none;
}